@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind variants; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-outline-radius: unset;
  outline: none;
  color: inherit;
  scrollbar-color: rgba(93, 93, 255, 0.9) #7d8784;
  scrollbar-width: thin;
  font-family: inherit;
}

*::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
  overflow-x: hidden;
}

*::-webkit-scrollbar-track {
  background: #7d8784;
  border-radius: 5px;
  opacity: 0.5;
}

*::-webkit-scrollbar-thumb {
  background: rgba(133, 133, 248, 0.9);
  border-radius: 5px;
  opacity: 0.9;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(93, 93, 255, 0.9);
  opacity: 0.5;
}

@layer base {
  html {
    @apply w-full;
    @apply h-full;
  }

  body {
    @apply relative;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    @apply w-full;
    @apply h-full;
    @apply text-sm;
    overflow: hidden;
  }

  #root {
    @apply w-full;
    @apply h-full;
  }

  /* width */
  body::-webkit-scrollbar {
    width: 12px;
    opacity: 0.5;
    overflow-x: hidden;
  }

  /* Track */
  body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    /*box-shadow: inset 0 0 5px grey;*/
    opacity: 0.5;
  }

  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: rgba(255, 93, 223, 0.2);
    border-radius: 5px;
  }

  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 41, 41, 0.5);
  }
}

/* @layer components {} */

@layer utilities {
  .no-scrollbar {
    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
  }

  /* Chrome Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* width */
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    opacity: 0.5;
    overflow-x: hidden;
  }

  /* Track */
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    /*box-shadow: inset 0 0 5px grey;*/
    opacity: 0.5;
  }

  /* Handle */
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(161, 161, 255, 0.5);
    border-radius: 5px;
    opacity: 0.5;
  }
}

:root {
  --tk-custom-line-chart-background-color: #fff;
  --tk-custom-line-chart-line-color-0: #000;
  --tk-custom-line-chart-line-color-1: #3f3fff;
  --tk-custom-line-chart-line-color-2: #ffbb28;
  --tk-custom-line-chart-line-color-3: #ff8042;
  --tk-custom-line-chart-line-color-4: #4caf50;
  --tk-custom-line-chart-line-color-5: #9c27b0;
  --tk-custom-line-chart-line-color-6: #ff5722;
  --tk-custom-line-chart-line-color-7: #795548;
  --tk-custom-line-chart-line-color-8: #607d8b;
  --tk-custom-line-chart-line-color-9: #e91e63;
  --tk-custom-line-chart-line-color-10: #00c49f;
  --tk-custom-line-chart-grid-color: #000;
  --tk-custom-line-chart-x-axis-line-color: #000;
  --tk-custom-line-chart-x-axis-tick-label-color: #000;
  --tk-custom-line-chart-x-axis-label-color: #343434;
  --tk-custom-line-chart-y-axis-line-color: #000;
  --tk-custom-line-chart-y-axis-tick-line-color: #000;
  --tk-custom-line-chart-y-axis-tick-label-color: #000;
  --tk-custom-line-chart-y-axis-label-color: #343434;
  --tk-custom-line-chart-value-color: #000;
  --tk-custom-line-chart-tooltip-border-color: #a3a3a3;
  --tk-custom-line-chart-tooltip-background-color: #fff;
  --tk-custom-line-chart-reference-line-color: #666;
}

html[data-theme='dark'] {
  --tk-custom-line-chart-background-color: #000;
  --tk-custom-line-chart-line-color-0: #fff;
  --tk-custom-line-chart-grid-color: #fff;
  --tk-custom-line-chart-x-axis-line-color: #fff;
  --tk-custom-line-chart-x-axis-tick-label-color: #888686;
  --tk-custom-line-chart-x-axis-label-color: #d1d1d1;
  --tk-custom-line-chart-y-axis-line-color: #fff;
  --tk-custom-line-chart-y-axis-tick-line-color: red;
  --tk-custom-line-chart-y-axis-tick-label-color: #888686;
  --tk-custom-line-chart-y-axis-label-color: #d1d1d1;
  --tk-custom-line-chart-value-color: #fff;
  --tk-custom-line-chart-tooltip-border-color: #fff;
  --tk-custom-line-chart-tooltip-background-color: #000;
  --tk-custom-line-chart-reference-line-color: #999;
}

.tk-custom-line-chart {
  font-family: sans-serif;
  font-weight: 100;
}

html[data-theme='dark'] .tk-custom-line-chart .inactive {
  opacity: 0.2;
}
